<table id="table" class="table">
    <thead>
        <tr>
            <th ng-repeat="header in headers" scope="col">
              <span class="sortable" ng-keyup="processHeaderKeypress($event, header)" title="Click to sorty by {{header.headerName}}" ng-click="doSort(header)" ng-if="header.sortable" tabindex="0">
                {{header.headerName}}<span ng-class="{glyphicon: header.sorted, 'glyphicon-chevron-up': header.sorted}"></span>
              </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="$item in records" inject>
        </tr>

        <tr ng-repeat="history in $item.history" ng-if="$item.showChildren">
            <td ng-repeat="header in headers" style="background-color: gray;">
                <div ng-if="$index == 1" style="padding-left: 20px">
                    {{getHistoryValue(history, header)}}
                </div>
                <div ng-if="$index != 1">
                    {{getHistoryValue(history, header)}}
                </div>
            </td>
        </tr>

        <tr ng-repeat-end></tr>
    </tbody>
</table>
